# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
target/
*.class
*.log

### VS Code ###
.vscode/
# Created by .ignore support plugin (hsz.mobi)
